.ui-incrementer
  display: flex
  align-items: center
  background: rgba(0, 0, 0, 0.1);
  border: 3px solid #EEEEEE
  justify-content: space-between
  padding: 14px 12px
  user-select none
  color: #EEEEEE

  &__label
    font-size: 17px
    margin-right: 12px

  &__block
    height: 20px
    width: 20px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer

    &--gray
      background: #EEEEEE

  &__value
    padding: 0
    margin: 0
    font-size: 17px
    width: 35px
    display: flex
    justify-content center
