<div class="pixel-box ui-incrementer">
  <span class="ui-incrementer__label"><ng-content /></span>
  <button
    type="button"
    class="ui-incrementer__button"
    [disabled]="!canDecrease()"
    [attr.aria-label]="'Decrease ' + label()"
    (click)="decrease()"
  >
    <svg width="16" height="16" viewBox="0 0 20 20" aria-hidden="true"><rect y="8" width="20" height="5" /></svg>
  </button>
  <output class="ui-incrementer__value" aria-live="polite">{{ value() }}</output>
  <button
    type="button"
    class="ui-incrementer__button"
    [disabled]="!canIncrease()"
    [attr.aria-label]="'Increase ' + label()"
    (click)="increase()"
  >
    <svg width="16" height="16" viewBox="0 0 448 448" aria-hidden="true">
      <path
        d="M272 184a8 8 0 0 1-8-8V0h-80v176a8 8 0 0 1-8 8H0v80h176a8 8 0 0 1 8 8v176h80V272a8 8 0 0 1 8-8h176v-80z"
      />
    </svg>
  </button>
</div>
