.ui-button
  button
    display: flex
    min-width: 40px
    font-family IBM Plex Sans
    font-style normal
    font-weight 500
    border none
    justify-content center
    align-items center
    outline none
    border-radius: 10px;
    font-size: 16px
    height: 32px

    &.primary
      background #42B6FB
      color #FFFFFF

      &:active
        background #3BA4E2

      &.disabled
        background #DFDFDF
        color #FFFFFF
        pointer-events none
