.ui-button
  button
    font-family Pixel
    background-color: rgba(0, 0, 0, 0.1);
    border: 3px solid #EEEEEE;
    font-size: 18px
    color: #EEEEEE
    user-select: none
    box-sizing: border-box;
    padding: 14px 12px;
    cursor: pointer;
