.ui-palette
  display: inline-block;
  &__buttons
    margin-bottom: 5px;
  &__colors
    display: flex;
    padding: 10px 8px;
    background-color: #FF9D0A
    border: 3px solid #000000
  &__color
    border: 1px solid #DFDFDF
    box-sizing: border-box
    width: 20px
    height: 20px
    margin-right: 4px;


